PORT=5000
MONGODB_URI=mongodb+srv://saif:Eo5YTtk91wf2rq4X@saif.amdq2i8.mongodb.net/placement_portal?appName=saif
JWT_SECRET=PlacementPortal_SuperSecret_Key_2024
NODE_ENV=production
EMAIL_SERVICE=gmail
EMAIL_USER=saifkhan8098806@gmail.com
EMAIL_PASS=Saifkhan@786
CLIENT_URL=https://your-vercel-url.vercel.app

